@page "/"
@attribute [Authorize]

<h1>Bienvenido a InversionesZJ</h1>

<AuthorizeView>
    <p>Hola, <strong>@context.User.Identity?.Name</strong> 👋</p>
</AuthorizeView>

<EditForm Model="this" OnValidSubmit="Logout" FormName="logout" method="post">
    <button type="submit" class="btn btn-danger">Cerrar sesión</button>
</EditForm>
