@page "/"
@attribute [Authorize]

<h1>Bienvenido a InversionesZJ</h1>

<AuthorizeView>
    <p>Hola, <strong>@context.User.Identity?.Name</strong> 👋</p>
</AuthorizeView>

<form action="/logout" method="post">
    <AntiforgeryToken />
    <button type="submit" class="btn btn-danger">Cerrar sesión</button>
</form>
