@rendermode InteractiveServer

<div class="toast-container">
    @foreach (var notification in notifications)
    {
        <div class="toast toast-@notification.Type.ToString().ToLower()" @key="notification.Id">
            <span class="toast-icon">@GetIcon(notification.Type)</span>
            <span class="toast-message">@notification.Message</span>
        </div>
    }
</div>
