@implements IDisposable
@inject NavigationManager NavigationManager

<div class="nav-brand">
    <span class="brand-mark">IZJ</span>
    <span class="brand-text">InversionesZJ</span>
</div>

<nav class="nav-links">
    <NavLink class="nav-item" href="/" Match="NavLinkMatch.All">
        <span class="nav-icon">⬚</span> Inicio
    </NavLink>

    <NavLink class="nav-item" href="/users">
        <span class="nav-icon">☰</span> Usuarios
    </NavLink>
    <NavLink class="nav-item" href="/roles">
        <span class="nav-icon"><i class="ti ti-shield"></i></span> Roles
    </NavLink>
</nav>

@code {
    private void OnLocationChanged(object? sender, LocationChangedEventArgs e) => StateHasChanged();

    protected override void OnInitialized() =>
        NavigationManager.LocationChanged += OnLocationChanged;

    public void Dispose() =>
        NavigationManager.LocationChanged -= OnLocationChanged;
}